/*-----------------Page Setup-----------------*/

*
{
	margin: 0;
	padding: 0;
}

body { /*background-color: #4ABDAC;*/ }

#h1main 
{
	margin-top: 35px;
	text-align: center;
	font-family: Arial, "Arial Unicode MS", sans-serif;
}

#pmain
{
	text-align: center;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	font-style: italic;
}

.page-container
{
	position: relative;
	top: 15px;
	display: grid;
	grid-template-columns: 1fr 931.5px 1fr;
}






/*-----------------Menu-----------------*/

.menu ul li 
{
	/*border: 1px solid yellow;*/
	list-style: none;
	padding: 35px 20px;
	display: inline-block;
}

.menu ul li .menubutton 
{
	/*border: 1px solid red;*/
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	color: black;
}

.menu 
{
	/*border: 1px solid white;*/
	width: 100%;
	text-align: center;
}

.menubutton::after 
{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
}

.menubutton:hover::after
{
	width: 100%;
	transition: width .3s;
}




/*-----------------Info Box-----------------*/

.info-box-container
{
	margin: 5px 20px;
	/*background-color: orange;*/
	border-radius: 15px;
}

.info-box
{
	position: absolute;
	visibility: hidden;
}





/*-----------------Periodic Table-----------------*/


.table1
{
	/*border: 1px solid blue;*/
	height: 575px; 
	width: 931.5px;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(7, 1fr) 10px 1fr 1fr;
}

.element
{
	position: relative;
	margin: 1px;
	border-radius: 0px;
}
.table1 .element
{
	/*border: 2px solid black;*/
}
.element.soundDNE
{
	/*background-color: grey;*/
} 

.element a p, .element p
{
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	font-style: normal;
	color: white;
}

.text-key label
{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.text-key 
{
	position: absolute;
	top: 17%;
	left: 13.5%;
}



.color-key
{
	position: absolute;
	top: 14%;
	left: 30%;
	display: grid;
	width: 330px;
	grid-template-columns: 1fr 125px 1fr 140px
}
.color-key p
{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	margin-left: 2px;
}
.color-key div
{
	margin: 3px;
}


.table-container a 
{
	text-decoration: none;

}

.table-container
{
	position: relative;
}

.circle
{
	margin: 2px;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

.actinoid .circle { background-color: #d4d656; }
.lanthanoid .circle { background-color: #81de52; }
.transition-metal .circle { background-color: #ff01ee; }


/*Corrections for elements w big names*/

#mo .name, #mn .name, #mg .name, #sg .name, #lv .name, {font-size: 0.55em; top: 59%;}
#ts .name, #ge .name, #mc .name, #og .name, #lr .name {font-size: 0.55em; top: 59%;}
#nd .name, #pm .name, #gd .name, #pa .name, #cf .name, #es .name {font-size: 0.55em; top: 59%;}
#rf .name, #ds .name, #rg .name, #cn .name, #p .name, #pr .name {font-size: 0.48em; top: 60%; }


.element .atomic-number
{
	right: 3%;
	text-align: right;
	font-size: 0.75em;
}
.abr
{
	top: 22%;
	font-size: 20px;
}
.name
{
	top: 57%;
	font-size: 0.62em;
}
.amu
{
	top: 76%;
	font-size: 0.7em;
}
#he
{
	grid-column: 18;
}
#al, #b
{
	grid-column: 13;
}
.table2
{
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-column: 3 / 17;	
	grid-row: 9 / 11;	
}

/*Section Colors*/

.alkali-metal, .alkali-metal-key { background-color: rgb(0, 142, 255); }
.alkali-metal:hover { background-color: rgb(0, 180, 255); }


.alkaline-earth, .alkaline-earth-key { background-color: rgb(100, 210, 255); }
.alkaline-earth:hover { background-color: rgb(100, 247, 255); }


.lanthanoid, .lanthanoid-key { background-color: rgb(175, 82, 222); }
.lanthanoid:hover { background-color: rgb(220, 82, 222); }


.actinoid, .actinoid-key { background-color: rgb(88, 86, 214); }
.actinoid:hover { background-color: rgb(102, 99, 255); }


.transition-metal, .transition-metal-key { background-color: #01ff12;}
.transition-metal:hover { background-color: #01ff9e; }


.post-transition-metal, .post-transition-metal-key { background-color: #2ECC40;}
.post-transition-metal:hover { background-color: #35e84a; }


.metalloid, .metalloid-key { background-color: rgb(255, 214, 10); }
.metalloid:hover { background-color: rgb(250, 232, 142); }


.other-nonmetal, .other-nonmetal-key { background-color: #FF851B; }
.other-nonmetal:hover { background-color: #ffad66; }


.noble-gas, .noble-gas-key { background-color: #FF4136; }
.noble-gas:hover { background-color: #ff847d; }

.none, .none-key { background-color: #cccccc; }
.none:hover { background-color: #AAAAAA; }

/*.transition-metal p, .transition-metal a p {color: #ff01ee;}*/



/*-----------------Pause/Play Button-----------------*/

audio
{
	outline: 0;
	display: block;
	margin: auto;
	position: relative;
	top: 60px;
	visibility: hidden;
}

.audioDNE
{
	position: absolute;
	width: 100%;
	top: 800px;
	text-align: center;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	visibility: hidden;
}

.credit
{
	font-family: Arial, "Arial Unicode MS", sans-serif;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: small;
	text-transform: uppercase;
	bottom: 28px;
}
.webCredit
{
	font-family: Arial, "Arial Unicode MS", sans-serif;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: small;
	text-transform: uppercase;
	bottom: 10px;
}


.s
{
	border: 2px solid black;
}

/*-----------------Download Page-----------------*/

.instructions
{
	text-align: center;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	font-style: italic;
	position: absolute;
	font-size: 13px;
	width: 400px;
	left: 395px;
	top: 10px;
	z-index: 2;

}

.download-container-main
{
	width: 900px;
	height: 530px;
	margin: 50px auto;
	border-radius: 9px;
	background-color: #F0F1F3;
	padding-left: 10px;
	position: relative;
}
.download-container-left
{
	display: inline-block;
	position: relative;
	top: 40px;
	height: 490px;
	width: 266px;
	overflow-x: hidden;
	margin-left: 5px;
}

.files-container
{
	display: inline-block;
	/*border: 1px solid #A9A9A9;*/
	/*padding: 10px 7px;*/
	width: 250px;
	left: 100px;
}
.files-container a
{
	text-align: left;
	text-decoration: none;
	font-family: Segoe UI,sans-serif;
	color: black;
	display: block;
	font-size: 14px;
	padding-left: 35px;
	position: relative;
	margin: 2px 0;
}
.files-container a:hover
{
	background-color: #D3D3D3;
}

/*-----------------Custom Checkboxes (ugh)-----------------*/

.checkbox-container-main, .select-all-box
{
	display: inline-block; 
	/*border: 1px solid black;*/
	width: 20px;
	background-color: transparent;
	z-index: 1;
	position: relative;
	top: 0.75px;
	margin-right: -36px;
}

.checkbox-container
{
	margin: 3px;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.checkbox-container-main input, .select-all-box input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	width: 12px;
	border: 1px solid black;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark-visible:after {
  content:"";
  position: absolute;
  left: 2.5px;
  bottom: 1.5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-all-text
{
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 41px;
	text-decoration: none;
	font-family: Segoe UI,sans-serif;
	color: black;
	display: block;
	font-size: 14px;
}
.select-all-box { 
	position: absolute;
	top: 9.5px;
	left: 14.5px;

}


/*-----------------Periodic Table of Checkmarks!-----------------*/
.table-graph-container
{
	display: inline-block;
	height: 600px;
	position: relative;
	bottom: 415px;
	left: 70px
}
.table-graph-container .element
{
	background-color: #cfcfcf;
}

.table-graph-container .element:hover 
{
	background-color: #9c9c9c;
}

.element.hovered { background-color: #9c9c9c; }
.element.checked { border: 1.5px solid black; }
.element.clicked { border: 2.5px solid black; }

.mini-table1
{
	height: 296.3px; 
	width: 480px;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(7, 1fr) 10px 1fr 1fr;
}

.mini-table2
{
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-column: 3 / 17;	
	grid-row: 9 / 11;	
}
.mini-table1 p
{
	font-size: 12px;
	color: black;
}

#Helium
{
	grid-column: 18;
}

#Aluminum, #Boron
{
	grid-column: 13;
}

/*--------Download Button------*/

.download-button
{
	position: absolute;
	padding: 15px 50px;
	border: 1px solid #A9A9A9;
	top: 390px;
	left: 510px;
	text-decoration: none;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	font-weight: lighter;
	color: #525252;
	border-radius: 5px;
	display: none;
}
.download-button:hover
{
	background-color: #CDCDCD;
}
.download-button:active
{
	background-color: #bfbfbf;
}
.download-description
{
	position: absolute;
	top: 445px;
	left: 525px;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	font-weight: lighter;
	color: #525252;
	font-size: 0.85em;
	text-align: center;
	width: 140px;
	display: none;
}

/*--------About Page------*/

.portrait {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	/*box-shadow: 0 0 20px 5px grey;*/
	top: 50px;
}
.about-me {
	position: relative;
	top: 100px;
	display: inline;
}
.about-me-container {
	text-align: center;
	width: 420px;
	margin: auto;
	font-family: Arial, "Arial Unicode MS", sans-serif;
}
.about-me-container a {
	text-decoration: none;
}

.construction {
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 300px;
}

/*--------Sound Visualization-------*/

#analyser_render {
	position: relative;
	top: 40px;
	width: 500px;
	height: 30px;
	display: block;
	margin: auto;
}